@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h4 class="mt-4">
    Privacy Policy for Contact Centre
</h4>
<p>
    Welcome to Contact Centre's Privacy Policy. This policy outlines how we collect, use, and safeguard your personal information when you use our Contact Centre .

</p>

<h4>
    Information We Collect:
</h4>
<p>
    We may collect certain personal information from you when you use our Contact Centre , including your name, email address, and other contact details.
</p>


<h4>
    How We Use Your Information:
</h4>
<p>
    The information we collect is used solely to provide you with the Contact Centre service, allowing you to effectively manage your contacts.
</p>


<h4>
    Data Security:
</h4>
<p>
    We prioritize the security of your data and have implemented measures to prevent unauthorized access, disclosure, or alteration of your information.
</p>


<h4>
    Data Sharing:
</h4>
<p>
    We do not share your personal information with third parties unless required by law.
</p>


<h4>
    Cookies:
</h4>
<p>
    Our Web Page may use cookies to enhance your user experience, but we do not use cookies to collect personal information.
</p>


<h4>
    Third-Party Links:
</h4>
<p>
    Our Web Page may contain links to third-party websites; however, we are not responsible for their privacy practices.

</p>



<h4>
    Changes to Privacy Policy:
</h4>
<p>
    We may update our Privacy Policy from time to time to reflect changes in our services. Any updates will be posted on this page.
</p>
<p>
    By using our Contact Centre , you agree to the terms outlined in this Privacy Policy.
</p>
<p>
    This Privacy Policy was last updated on Aug 4, 2023.
</p>
<p>
    If you have any questions about this Privacy Policy, you can reach out to us at admin@bdat.com.


</p>

